* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-gap: 0.2em;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: fit-content;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(149, 116, 240, 0.63),
    rgba(67, 2, 83, 0.671)
  );
} */
#container {
  z-index: 1;
}
.app {
  position: relative;
  color: aliceblue;
  background-image: url(./SkyBlue-Night.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 0.2em 0.3em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, minmax(fit-content auto));
  grid-template-areas:
    "header header header header header "
    "location location location location location "
    "current_condition current_condition current_condition current_condition current_condition"
    "current_condition_info current_condition_info current_condition_info current_condition_info current_condition_info "
    "hourly_condition hourly_condition hourly_condition hourly_condition hourly_condition "
    "daily_condition daily_condition daily_condition daily_condition daily_condition"
    "footer footer footer footer footer ";
}
.header {
  grid-area: header;
  border: 1px solid black;
  background-color: gold;
  height: fit-content;
  justify-content: space-between;
}
.input_search {
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.4em;
}
.input_search > img {
  position: relative;
  right: -3px;
  top: 3px;
  width: 1em;
}
.option {
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
}
.day_hour {
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
}
.input_search {
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
  justify-self: flex-end;
}
.location {
  border: 1px solid black;
  background-color: rgb(241, 225, 131);
  grid-area: location;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}
.current_condition {
  border: 1px solid black;
  background-color: rgb(255, 115, 115);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "condition_txt condition_txt condition_txt condition_txt condition_txt"
    ". current_weather current_weather min_max_up_down ."
    ". current_weather current_weather min_max_up_down ."
    ". current_weather current_weather  min_max_up_down .";
  grid-area: current_condition;
  justify-content: center;
}
.current_condition_info {
  padding: 0.5em 0;
  grid-area: current_condition_info;
  border: 1px solid black;
  background-color: rgb(164, 241, 91);
}
.hourly_condition {
  grid-area: hourly_condition;
  border: 1px solid black;
  background-color: rgb(104, 185, 197);
}
.daily_condition {
  padding: 0.5em 0;
  grid-area: daily_condition;
  border: 1px solid black;
  background-color: rgb(114, 84, 223);
}
.footer {
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
  grid-area: footer;
  font-size: 0.7em;
  text-align: center;
}
.current_weather {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-area: current_weather;
  grid-gap: 0;
  border: 1px solid black;
  background-color: rgb(87, 219, 26);
  grid-template-areas:
    "cur_cond_icon cur_cond_temp cur_cond_temp   "
    "cur_cond_icon cur_cond_temp cur_cond_temp  "
    ". cur_cond_temp cur_cond_temp  ";
}
.min_max_up_down {
  grid-area: min_max_up_down;
  border: 1px solid black;
  background-color: rgb(155, 141, 153);
  width: fit-content;
  align-self: center;
}
.min_max_daily {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}
#maxtemp {
  border-bottom: 2px solid black;
}
.condition_txt {
  grid-area: condition_txt;
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
  text-align: center;
  height: fit-content;
}
.cur_cond_icon {
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
  width: fit-content;
  grid-area: cur_cond_icon;
  justify-self: flex-end;
}
.cur_cond_icon > img {
  height: 3.5em;
}
.cur_cond_temp {
  grid-area: cur_cond_temp;
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
  font-size: 5em;
}
.deg_celcuis {
  grid-area: deg_celcuis;
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
}
.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.4em;
  height: fit-content;
  border-radius: 0.5em;
  border: 1px solid black;
  background-color: rgb(236, 96, 218);
}
.info_icon {
  border-radius: 50%;
  padding: 0.2em;
  border: 1px solid black;
  background-color: rgb(96, 192, 236);
}
.info_icon > img {
  width: 1.8em;
  display: block;
  margin: auto;
}
.daily_icon > img {
  width: 1.8em;
  display: block;
  width: 100%;
  margin: auto;
}
.info_numb {
  border: 1px solid black;
  background-color: rgb(138, 96, 236);
  font-weight: bold;
  border-radius: 0.3em;
}
.day_cond {
  margin: 0 0.4em;
  border: 1px solid black;
  background-color: rgb(236, 96, 96);
}
.day {
  border: 1px solid black;
  background-color: rgb(247, 193, 78);
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}
.day_icon {
  border: 1px solid black;
  background-color: rgb(245, 175, 175);
}
.day_min_max {
  border: 1px solid black;
  background-color: rgb(236, 234, 96);
}
