@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
:root {
  --main-day-text-icons-color: white;
  --main-day-backgroud-color: rgba(250, 250, 250, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.grid {
  display: grid;
  grid-gap: 0.2em;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: fit-content;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -12em;
  margin: 0;
  width: 12em;
  height: 100vh;
  padding: 0 1em;
  background: linear-gradient(rgb(25, 25, 26), rgb(65, 65, 65));
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.5s;
  z-index: 100;
}

.sidebar_right {
  position: absolute;
  top: 0;
  right: -12em;
  margin: 0;
  width: 12em;
  height: 100vh;
  padding: 0 1em;
  background: linear-gradient(rgb(25, 25, 26), rgb(65, 65, 65));
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.5s;
  z-index: 100;
}

.sidebar.active {
  left: 0;
}
.sidebar_right.active {
  right: 0;
  transition: all 0.5s;
}

.setCity > input {
  width: 100%;
  background: none;
  border-radius: 1em;
  border: 2px solid var(--main-day-text-icons-color);
  padding: 0.3em 0.1em;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.searchCity > input {
  width: 100%;
  background: none;
  border-radius: 1em;
  border: 2px solid var(--main-day-text-icons-color);
  padding: 0.3em 0.1em;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.5em;
  margin-bottom: 2em;
}
.setCity > input:focus {
  outline: none;
}
.searchCity > input:focus {
  outline: none;
}
.list_City > ul > li {
  width: 100%;
  padding: 1em 0;
  padding-bottom: 0.2em;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(147, 147, 148, 0.26);
  display: block;
  text-decoration: none;
  text-align: center;
}
.list_City > ul > li:hover {
  background-color: rgba(147, 147, 148, 0.26);
}
.list_City_copy > ul > li {
  width: 100%;
  padding: 1em 0;
  padding-bottom: 0.2em;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(147, 147, 148, 0.26);
  display: block;
  text-decoration: none;
  text-align: center;
}
.list_City_copy > ul > li:hover {
  background-color: rgba(147, 147, 148, 0.26);
}

.app {
  position: relative;
  color: var(--main-day-text-icons-color);
  width: 100vw;
  height: 100vh;
  font-family: "Fredoka One";
  padding: 0.2em 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header "
    "location location location location location "
    "current_condition current_condition current_condition current_condition current_condition"
    "current_condition_info current_condition_info current_condition_info current_condition_info current_condition_info "
    "hourly_condition hourly_condition hourly_condition hourly_condition hourly_condition "
    "daily_condition daily_condition daily_condition daily_condition daily_condition"
    "footer footer footer footer footer ";
}

.loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-image: url("./loader.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.fade {
  display: none;
}
.header {
  padding: 0 0.3em;
  grid-area: header;
  height: fit-content;
  justify-content: space-between;
}
.input_search {
  position: relative;
  height: 1.9em;
  width: 1.9em;
  border: 1px solid rgba(255, 255, 255, 0.507);
  background: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}
.input_search:focus {
  outline: none;
}

.input_search > img {
  position: relative;
  top: 0.1em;
  width: 1.2em;
}
.input_search {
  justify-self: flex-end;
}
.input_search:focus {
  background-color: rgba(202, 228, 250, 0.39);
}
/* -----START Menu Botton -------*/
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.9em;
  height: 1.9em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 1em;
  height: 0.2em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 0.2em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-0.4em);
}
.menu-btn__burger::after {
  transform: translateY(0.4em);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: rgba(255, 255, 255, 0.6);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: rgba(255, 255, 255, 0.6);
}
/* -----END Menu Botton -------*/

.day_hour {
  margin-top: 0.1em;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.644);
}

.location {
  grid-area: location;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.current_condition {
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "condition_txt condition_txt condition_txt condition_txt condition_txt"
    "current_weather current_weather current_weather . min_max_up_down"
    "current_weather current_weather current_weather . min_max_up_down"
    "current_weather current_weather current_weather . min_max_up_down";
  grid-area: current_condition;
  justify-content: center;
}
.current_condition_info {
  padding: 0.5em 0;
  grid-area: current_condition_info;
}
#celcius {
  position: relative;
  left: -10px;
  top: -5px;
  font-size: 0.7em;
}
#deg {
  position: relative;
  top: -0.1em;
  left: -0.15em;
  font-size: 1em;
  font-weight: 10;
  margin-left: 0.1em;
}
.hourly_condition {
  grid-area: hourly_condition;
}
.daily_condition {
  grid-area: daily_condition;
}
.footer {
  grid-area: footer;
  font-size: 0.7em;
  text-align: center;
  position: relative;
  bottom: 0;
  justify-self: center;
  color: rgba(255, 255, 255, 0.301);
}
.current_weather {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-area: current_weather;
  grid-gap: 0;
  grid-template-areas:
    ". cur_cond_temp cur_cond_temp   "
    "cur_cond_icon cur_cond_temp cur_cond_temp  "
    ". cur_cond_temp cur_cond_temp  ";
}
.min_max_up_down {
  padding-top: 0.5em;
  grid-area: min_max_up_down;
  position: relative;
  width: fit-content;
  margin: 0 0.5em;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: var(--main-day-backgroud-color);
  border-radius: 0.5em;
  text-align: center;
}
.min_man_temp {
  justify-self: center;
  align-self: center;
  font-size: 1rem;
}
.sun {
  grid-area: sun;
  display: flex;
}
.sun_pos > img {
  width: 2.5em;
}
.sunset_time {
  position: relative;
  top: -0.6em;

  font-size: 0.8em;
}
#mintemp {
  margin-top: 0.2em;
}
.min_max_daily {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  width: fit-content;
  background-color: transparent;
}
.maxtemp {
  border-bottom: 3px solid;
}
.maxtemp_daily {
  border-bottom: 1px solid;
}

.condition_txt {
  position: relative;
  top: -0.5em;
  grid-area: condition_txt;
  text-align: center;
  height: fit-content;
  font-size: 1.2em;
  font-weight: 100;
}
.cur_cond_icon {
  width: fit-content;
  grid-area: cur_cond_icon;
  justify-self: flex-end;
}
.cur_cond_icon > img {
  height: 5em;
}
.cur_cond_temp {
  grid-area: cur_cond_temp;
  font-size: 3.8rem;
}
.deg_celcuis {
  grid-area: deg_celcuis;
}
.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.4em;
  height: fit-content;
  border-radius: 0.5em;
  background-color: var(--main-day-backgroud-color);
  padding-bottom: 2px;
}
.info_icon {
  border-radius: 50%;
  padding: 0.2em;
}
.info_icon > img {
  width: 1.8em;
  display: block;
  margin: auto;
}
.daily_icon > img {
  width: 1.8em;
  display: block;
  width: 100%;
  margin: auto;
}
.info_numb {
  font-size: 0.8em;
  border-radius: 0.5em;
}
.day_cond {
  margin: 0 0.4em;
  border-radius: 0.4em;
  padding: 0.2em;
  background-color: var(--main-day-backgroud-color);
  z-index: 1;
}
.border {
  border: 1px solid var(--main-day-text-icons-color);
}
.day {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}
.fade {
  display: none;
}
