@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1.8em;

  color: white;
}
.container-top {
  position: relative;
  height: 50vh;
  color: white;
  background: #888484;
}
#wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#rg-cn {
  font-size: 1.5rem;
  font-weight: bold;
}
#curt-day-hour {
  margin-right: 2.1em;
  float: right;
  right: 0;
  top: 0;
}
#weather-condition {
  display: block;
  margin-top: 0.5em;
  margin-left: 1em;
}
.weather {
  position: absolute;
  margin-top: 0.3em;
  font-size: 75px;
  cursor: pointer;
}
.weather img {
  cursor: default;
}

#deg {
  position: absolute;
  top: 0.2em;
  font-weight: lighter;
}
#celcius {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  top: 3rem;
  right: -1.2em;
}

.precip {
  position: absolute;
  left: 0;
  bottom: 4.5em;
  margin-left: 1.5em;
  font-size: normal;
}

.precip span {
  font-size: 2rem;
  margin-left: 0.2em;
  margin-right: 1.5em;
}

.items-hours {
  display: flex;
  overflow-x: auto;
  justify-content: left;
  align-items: center;
}
.items-weeks {
  display: flex;
  overflow-x: auto;
  justify-content: left;
  align-items: center;
  margin-bottom: 2em;
}
.items-hours::-webkit-scrollbar {
  display: none;
}
.items-weeks::-webkit-scrollbar {
  display: none;
}

.item-hour {
  min-width: 100px;
  height: 150px;
  background-color: blue;
  margin: 0 5px;
  padding: 0 5px;
}
.item-week {
  min-width: 100px;
  height: 150px;
  background-color: blue;
  margin: 10px 5px;
}

.freq {
  position: relative;
  color: black;
  margin: 1em 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.container-hour {
  position: relative;
  margin: 0px;
}
.container-hour img {
  display: block;
  width: 80px;
}
#temp-max {
  position: relative;
  font-size: 2rem;
  float: left;
  top: -11px;
}
#temp-min {
  position: absolute;
  font-size: 1.2rem;
  right: -0.1em;
  float: right;
}
#cond {
  position: relative;
  bottom: -1.8em;
  left: -2.8em;
}
